/*
Click logo to restart animation.

Source Code:

https://github.com/robole/title-sequences
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

:root {
  --glow-color: rgb(252 231 115);
}

body {
  display: grid;
  background-color: black;
  place-items: center;
}

h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 10rem;
  perspective: 3000px;
}

.word {
  display: block;
  opacity: 0;
  transform: rotateX(100deg);
  transform-origin: bottom center;
}

.word:nth-of-type(2) {
  color: gold;
}

.superscript {
  position: relative;
  padding: 0 0.2rem;
  font-size: 7rem;
  vertical-align: super;
}

.superscript::before {
  position: absolute;
  z-index: -1;
  top: 21%;
  left: 0;
  padding: inherit;
  color: var(--glow-color);
  content: "S";
  filter: blur(5px);
  font-size: 75%;
  opacity: 0;
  transform: scale(1.05);
  vertical-align: super;
}

.bar {
  position: absolute;
  z-index: 3;
  top: 38%;
  width: 0.125rem;
  height: 4.5rem;
  background-color: white;
  transform: scale(0);
}

.bar:nth-of-type(1) {
  left: 45%;
}

.bar:nth-of-type(2) {
  left: 55%;
}

#glow {
  position: absolute;
  z-index: 5;
  top: 37%;
  left: 42%;
  width: 12px;
  height: 12px;
  background-color: rgb(250 239 175);
  border-radius: 50%;
  filter: blur(1px);
  opacity: 1;
  opacity: 0;
  transform: scale(0.25);
}

#glow::before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-right: 1px solid transparent;
  border-bottom: 200px solid gold;
  border-left: 2px solid transparent;
  content: "";
  filter: blur(1px);
  opacity: 0;
  transform: rotate(90deg) translate(-95px, -20px);
}

#glow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-right: 150px solid transparent;
  border-bottom: 2px solid gold;
  border-left: 4px solid transparent;
  color: rgb(55 0 255);
  content: "";
  filter: blur(1px);
  opacity: 0;
  transform: rotate(40deg) translate(-30px, 50px);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  .superscript {
    font-size: 4rem;
  }

  .bar {
    width: 0.1rem;
    height: 2.5rem;
  }

  #glow {
    left: 38%;
  }

  #glow::before {
    border-bottom: 100px solid gold;
    transform: rotate(90deg) translate(-45px, -20px);
  }

  #glow::after {
    border-right: 100px solid transparent;
    transform: rotate(40deg) translate(-10px, 32px);
  }
}
