/* stylelint-disable */

:root {
  --text-color-initial: #08146d;
  --text-color-final: white;

  --animation-delay-initial: 12.5s;
  --animation-delay-interim: 4s;
  --animation-duration: 3.75s;
}

@font-face {
  font-family: "HomepageBaukasten";
  src: url("./homepagebaukasten-bold.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  margin: 0;

  background: black;
  background-image: url("img/bg.jpg");
  background-size: 500%;
  background-position: 10% 50%;
  background-repeat: no-repeat;

  animation: bg-scroll 370s;
  animation-fill-mode: forwards;
}

@keyframes bg-scroll {
  to {
    background-position: 200% 50%;
  }
}

h1 {
  color: white;
  font-family: "HomepageBaukasten";
  font-size: 3.75rem;

  margin: 0 10%;
  margin-block-start: 2.5rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.letter {
  width: min-content;
  color: var(--text-color-initial);
}

/* horiztonal bar of A*/
.letter:nth-of-type(1) {
  position: relative;
  justify-self: start;

  color: transparent;

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 10) +
      (var(--animation-delay-interim) * 10) + 0.5s
  );
}

/*outer leg of A*/
.letter:nth-of-type(1)::after {
  position: absolute;
  left: 0;
  content: attr(data-letter);

  color: transparent;
  clip-path: polygon(12.15% 0%, 69.16% 5.68%, 23.54% 85%, 0% 85%);

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + var(--animation-duration) +
      var(--animation-delay-interim)
  );
}

/*inside leg of A */
.letter:nth-of-type(1)::before {
  position: absolute;
  left: 0;
  content: attr(data-letter);
  color: transparent;

  clip-path: polygon(35% 11%, 69.16% 5.68%, 99.08% 85%, 76% 85%);

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 5) +
      (var(--animation-delay-interim) * 5)
  );
}

.letter:nth-of-type(2) {
  position: relative;
  color: transparent;
}

/* vertical bar of L */
.letter:nth-of-type(2)::before {
  position: absolute;
  left: 0;
  content: attr(data-letter);
  color: transparent;

  clip-path: polygon(8.24% 18.07%, 40% 18.1%, 40% 85%, 7.82% 86.13%);

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 3) +
      (var(--animation-delay-interim) * 3)
  );
}

/* horizontal bar of L */
.letter:nth-of-type(2)::after {
  position: absolute;
  left: 0;
  content: attr(data-letter);
  color: transparent;

  clip-path: polygon(39.5% 68.86%, 100.57% 68.89%, 100.57% 85%, 39.5% 85%);

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 8) +
      (var(--animation-delay-interim) * 8)
  );
}

.letter:nth-of-type(3) {
  color: transparent;

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: var(--animation-delay-initial);
}

/* letter E, this is just a placeholder for space */
.letter:nth-of-type(4) {
  position: relative;
  color: transparent;
}

/* vertical bar of E */
.letter:nth-of-type(4) span:nth-of-type(1) {
  display: inline-block;
  position: absolute;
  left: 12%;
  top: 17%;

  width: 30%;
  height: 67%;
  background-color: transparent;

  animation: var(--animation-duration) linear reveal-bg;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 4) +
      (var(--animation-delay-interim) * 4)
  );
}

/* top horizontal bar of E*/
.letter:nth-of-type(4) span:nth-of-type(2) {
  display: inline-block;
  position: absolute;

  left: 42%;
  top: 17%;

  width: 56.5%;
  height: 16.25%;
  background-color: transparent;
}

/* mid horizontal bar of E*/
.letter:nth-of-type(4) span:nth-of-type(3) {
  display: inline-block;
  position: absolute;
  left: 42%;
  top: 42.5%;

  width: 49.5%;
  height: 15.8%;
  background-color: transparent;

  animation: var(--animation-duration) linear reveal-bg;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 10) +
      (var(--animation-delay-interim) * 10)
  );
}

/* bottom horizontal bar of E*/
.letter:nth-of-type(4) span:nth-of-type(4) {
  display: inline-block;
  position: absolute;

  top: 68%;
  left: 42%;

  width: 56.5%;
  height: 16.25%;
  background-color: transparent;
}

.letter:nth-of-type(4) span:nth-of-type(2),
.letter:nth-of-type(4) span:nth-of-type(4) {
  animation: var(--animation-duration) linear reveal-bg;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 7) +
      (var(--animation-delay-interim) * 7)
  );
}

/* inner leg of N */
.letter:nth-of-type(5) {
  position: relative;

  justify-self: end;

  color: transparent;

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 9) +
      (var(--animation-delay-interim) * 9)
  );
}

/* diagonal leg of N */
.letter:nth-of-type(5)::after {
  position: absolute;
  left: 0;
  content: attr(data-letter);

  clip-path: polygon(7.52% 19.14%, 32.16% 19.18%, 93% 83.86%, 70.38% 83.87%);

  color: transparent;

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 2) +
      (var(--animation-delay-interim) * 2)
  );
}

/* outer leg of N */
.letter:nth-of-type(5)::before {
  position: absolute;
  left: 0;
  content: attr(data-letter);

  clip-path: polygon(
    67.64% 18.01%,
    90.74% 18.05%,
    90.84% 83.86%,
    68.84% 83.87%
  );

  color: transparent;

  animation: var(--animation-duration) linear reveal;
  animation-fill-mode: forwards;
  animation-delay: calc(
    var(--animation-delay-initial) + (var(--animation-duration) * 6) +
      (var(--animation-delay-interim) * 6)
  );
}

@keyframes reveal {
  0% {
    color: transparent;
  }

  33%,
  100% {
    color: var(--text-color-initial);
    opacity: 1;
  }

  100% {
    color: var(--text-color-final);
  }
}

@keyframes reveal-bg {
  0% {
    background-color: transparent;
  }

  33%,
  100% {
    background-color: var(--text-color-initial);
    opacity: 1;
  }

  100% {
    background-color: var(--text-color-final);
  }
}
