@font-face {
  font-family: "Distro Bold";
  src: url("./distro-bold.woff");
  font-display: block;
}

:root {
  --initial-delay: 50ms;
  --draw-delay: 250ms;

  --focus-animation-duration: 300ms;
  --draw-animation-duration: 400ms;
  --jump-animation-duration: 30ms;
}

*,
*::before {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;

  display: grid;
  place-items: center;

  overflow: hidden;
}

h1 {
  grid-row: 1;
  grid-column: 1;

  font-size: 5rem;
  font-family: "Distro Bold", serif;

  margin: 0;
  opacity: 0;

  animation-name: focus, jump;
  animation-delay: var(--initial-delay),
    calc(
      var(--initial-delay) + var(--focus-animation-duration) + var(--draw-delay) +
        var(--draw-animation-duration)
    );
  animation-duration: var(--focus-animation-duration),
    var(--jump-animation-duration);
  animation-iteration-count: 1, 3;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards, none;
}

@keyframes focus {
  0% {
    opacity: 1;
    scale: 4;
    filter: blur(8px);
    translate: 100%;
  }

  to {
    opacity: 1;
    scale: 1;
    translate: 0;
    filter: blur(0);
  }
}

@keyframes jump {
  to {
    filter: blur(4px);
    translate: 0 -40%;
  }
}

.word {
  display: block;
  line-height: 0.9;
  height: min-content;
}

.word:nth-of-type(1) {
  --color1: hsl(353, 70%, 42%);
  --color2: hsl(353, 70%, 52%);

  background: linear-gradient(
    to right,
    var(--color1) 10%,
    var(--color2) 30% 60%,
    var(--color1) 90%
  );
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;
}

.word:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 0.45em;
}

svg {
  grid-row: 1;
  grid-column: 1;
  width: 23rem;
}

path {
  --length: 570;

  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);

  animation-name: draw;
  animation-delay: calc(
    var(--initial-delay) + var(--focus-animation-duration) + var(--draw-delay)
  );
  animation-duration: var(--draw-animation-duration);
  animation-fill-mode: forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
