/* stylelint-disable property-no-vendor-prefix */
@font-face {
  font-family: "Paytone One";
  src: url("fonts/PaytoneOne-Regular.woff") format("woff");
}

:root {
  --glitch-delay: 3s;
}

body {
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  animation-delay: calc(var(--glitch-delay) - 0.2s);
  animation-duration: 0.2s;
  animation-name: darken-bg;

  background-image: url("img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes darken-bg {
  0%,
  100% {
    filter: grayscale(90%);
  }
}

svg {
  width: 100%;
}

#title {
  animation-duration: 5.5s;
  animation-fill-mode: forwards;
  animation-name: grow;
  transform-origin: center center;
}

@keyframes grow {
  90% {
    transform: scale(1.2);
  }

  92% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(100px) scale(60);
  }
}

#reveal {
  width: 100%;
  height: 100%;

  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: reveal;
}

@keyframes reveal {
  3% {
    transform: translateX(30%);
  }

  30% {
    transform: translateX(37%);
  }

  33% {
    transform: translateX(54%);
  }

  60% {
    transform: translateX(60%);
  }

  63% {
    transform: translateX(85%);
  }

  99% {
    transform: translateX(91%);
  }

  to {
    transform: translateX(100%);
  }
}

#beam {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: follow-reveal;
}

@keyframes follow-reveal {
  0% {
    transform: scale(0) translateX(37%);
  }

  3% {
    transform: scale(1) translateX(30%);
  }

  30% {
    transform: scale(1) translateX(37%);
  }

  33% {
    transform: translateX(54%);
  }

  60% {
    transform: translateX(60%);
  }

  63% {
    transform: translateX(85%);
  }

  99% {
    transform: translateX(91%);
  }

  to {
    transform: translateX(102%);
  }
}

.glitches {
  animation-duration: 0.1s;
  animation-name: glitch;
}

.glitches:nth-of-type(1) {
  animation-delay: var(--glitch-delay);
}

.glitches:nth-of-type(2) {
  animation-delay: calc(var(--glitch-delay) + 0.025s);
}

.glitches:nth-of-type(3) {
  animation-delay: calc(var(--glitch-delay) + 0.05s);
}

.glitches:nth-of-type(4) {
  animation-delay: calc(var(--glitch-delay) + 0.075s);
}

.glitches:nth-of-type(5) {
  animation-delay: calc(var(--glitch-delay) + 0.01s);
}

@keyframes glitch {
  0% {
    opacity: 0.75;
  }

  40% {
    transform: translate(0, -3px);
  }

  80% {
    transform: translate(-20px, 0);
  }

  100% {
    opacity: 0;
  }
}
