body {
  overflow: hidden;
  background-color: black;
}

svg {
  display: block;
  width: 800px;
  margin: 0 auto;
}

/* #word1-t,
#word1-e,
#word2-h,
#word2-s {
  will-change: transform;
} */

/* path {
  filter: drop-shadow(1px 0 4px rgb(141 47 42 / 62.3%));
} */
