/*
Click unmute button for accompanying audio.

Source Code:
https://github.com/robole/title-sequences
*/

:root {
  --animation-timing: 4s;
  --text-color: rgb(255 255 255);
  --background-color: red;
  --transition-timing: 0.4s;
}

html {
  box-sizing: border-box;
  background-color: var(--background-color);
  transition: background-color var(--transition-timing);
}

body {
  perspective: 1100px;
}

#titleSvg {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#bg {
  fill: var(--background-color);
  transition: fill var(--transition-timing);
}

.title {
  fill: var(--text-color);
  transition: fill var(--transition-timing);
}

.drip {
  fill: var(--background-color);
  opacity: 0;
}

#drip4 {
  fill: var(--text-color);
}

label {
  position: fixed;
  top: calc(0.25rem + 1vw);
  right: calc(0.25rem + 1vw);
  width: calc(1.25rem + 2vw);
  height: calc(1.25rem + 2vw);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

label > svg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

label path {
  fill: black;
}

label .mute-off {
  display: none;
}

input[type="checkbox"] {
  display: none;
  width: 0;
  height: 0;
}

:checked ~ label .mute-off {
  display: block;
}

:checked ~ label .mute-on {
  display: none;
}
