/* stylelint-disable */

:root {
  --bg-color: rgba(0, 128, 0, 0.493);
  --line-color: blue;

  --horizontal-line-start: 4%;
  --horizontal-gap-lg: 4.5%;
  --horizontal-gap-sm: 1.5%;

  --vertical-gap: 3%;
}

@font-face {
  font-family: "Franklin Gothic";
  src: url("./franklin-gothic.ttf");
}

body {
  position: relative;
  width: 100%;
  height: 100dvh;
  margin: 0;
  perspective: 200px;

  background-color: white;
}

.title {
  position: relative;
  top: 0;
  width: 180vw;
  aspect-ratio: 3 / 4;
  background-color: var(--bg-color);

  transform: translateZ(-10vw) translate(-22vw, -55vw) rotateY(8deg)
    rotate(-35deg) skewX(-35deg);
  transform-style: preserve-3d;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 60vw;
  left: 35vw;
  color: white;
  font-size: clamp(1rem, 12vw + 0.5rem, 10rem);
  font-family: "Franklin Gothic", sans-serif;

  /* translate: 0 -100vw;
  
	animation: scroll 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards; */
}

@keyframes scroll {
  to {
    translate: 0 65vw;
  }
}

.line {
  position: absolute;
  background-color: var(--line-color);
}

.horizontal div {
  width: 100%;
  height: 3px;

  transform-origin: 100% 0;

  transform: scaleX(0);
  animation: grow 6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.horizontal div:nth-of-type(1) {
  top: var(--horizontal-line-start);
  animation-delay: 80ms;
}

.horizontal div:nth-of-type(2) {
  top: calc(var(--horizontal-line-start) + var(--horizontal-gap-lg));
  animation-delay: 80ms;
}

.horizontal div:nth-of-type(3) {
  top: calc(
    var(--horizontal-line-start) + var(--horizontal-gap-lg) +
      var(--horizontal-gap-sm)
  );
  animation-delay: 150ms;
}

.horizontal div:nth-of-type(4) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 2) +
      var(--horizontal-gap-sm)
  );
  animation-delay: -50ms;
}

.horizontal div:nth-of-type(5) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 3) +
      var(--horizontal-gap-sm)
  );

  animation-delay: 180ms;
}

.horizontal div:nth-of-type(6) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 3) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: 140ms;
}

.horizontal div:nth-of-type(7) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 4) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: -50ms;
}

.horizontal div:nth-of-type(8) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 5) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: 200ms;
}

.horizontal div:nth-of-type(9) {
  top: 31%;

  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 5) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: -150ms;
}

.horizontal div:nth-of-type(10) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 6) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: -300ms;
}

.horizontal div:nth-of-type(11) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 7) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: 100ms;
}

.horizontal div:nth-of-type(12) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 7) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -350ms;
}

.horizontal div:nth-of-type(13) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 8) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -280ms;
}

.horizontal div:nth-of-type(14) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 9) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -160ms;
}

.horizontal div:nth-of-type(15) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 9) +
      (var(--horizontal-gap-sm) * 5)
  );

  animation-delay: -220ms;
}

.horizontal div:nth-of-type(16) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 10) +
      (var(--horizontal-gap-sm) * 5)
  );
}

.horizontal div:nth-of-type(17) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 11) +
      (var(--horizontal-gap-sm) * 5)
  );

  animation-delay: -120ms;
}

.horizontal div:nth-of-type(18) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 11) +
      (var(--horizontal-gap-sm) * 6)
  );

  animation-delay: -180ms;
}

@keyframes grow {
  to {
    transform: scaleX(1);
  }
}

.vertical-line {
  height: 100%;
  width: 3px;
  left: calc(var(--i, 1) * var(--vertical-gap));

  background-color: var(--line-color);

  transform-origin: 0 100%;

  transform: scaleY(0);

  animation: grow-vertical 6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.vertical-line:nth-child(n + 16):nth-child(-n + 33) {
  transform-origin: 0 0;
}

.vertical-line:nth-child(1) {
  translate: 0 10%;
}

.vertical-line:nth-child(2) {
  translate: 0 22%;
}

.vertical-line:nth-child(3) {
  translate: 0 15%;
}

.vertical-line:nth-child(4) {
  translate: 0 29%;
}

.vertical-line:nth-child(5) {
  translate: 0 3%;
}

.vertical-line:nth-child(6) {
  translate: 0 13%;
}

.vertical-line:nth-child(7) {
  translate: 0 6.5%;
}

.vertical-line:nth-child(8) {
  translate: 0 3%;
}

.vertical-line:nth-child(9) {
  translate: 0 4%;
}

.vertical-line:nth-child(10) {
  translate: 0 1%;
}

.vertical-line:nth-child(11) {
  translate: 0 32%;
}

.vertical-line:nth-child(12) {
  translate: 0 7.5%;
}

.vertical-line:nth-child(13) {
  translate: 0 15%;
}

.vertical-line:nth-child(14) {
  translate: 0 34%;
}

.vertical-line:nth-child(15) {
  translate: 0 5%;
}

/* first desceding line */
.vertical-line:nth-child(16) {
  translate: 0 -11%;
}

.vertical-line:nth-child(17) {
  translate: 0 -8%;
}

.vertical-line:nth-child(18) {
  translate: 0 -10%;
}

.vertical-line:nth-child(19) {
  translate: 0 -22%;
}

.vertical-line:nth-child(20) {
  translate: 0 -35%;
}

.vertical-line:nth-child(21) {
  translate: 0 -9%;
}

.vertical-line:nth-child(22) {
  translate: 0 -3%;
}

.vertical-line:nth-child(23) {
  translate: 0 -23%;
}

.vertical-line:nth-child(24) {
  translate: 0 -6.5%;
}

.vertical-line:nth-child(25) {
  translate: 0 -3%;
}

.vertical-line:nth-child(26) {
  translate: 0 -19%;
}

.vertical-line:nth-child(27) {
  translate: 0 -5%;
}

.vertical-line:nth-child(28) {
  translate: 0 -32%;
}

.vertical-line:nth-child(29) {
  translate: 0 -10%;
}

.vertical-line:nth-child(30) {
  translate: 0 -50%;
}

.vertical-line:nth-child(31) {
  translate: 0 -14%;
}

.vertical-line:nth-child(32) {
  translate: 0 -40%;
}

.vertical-line:nth-child(33) {
  translate: 0 -2%;
}

@keyframes grow-vertical {
  to {
    translate: 0 0;
    transform: scaleY(1);
  }
}
