/* stylelint-disable */

:root {
  --bg-color: rgba(0, 128, 0, 0.493);
  --line-color: blue;

  --horizontal-line-start: 4%;
  --horizontal-gap-lg: 4.5%;
  --horizontal-gap-sm: 1.5%;

  --vertical-gap: 4%;
}

@font-face {
  font-family: "Franklin Gothic";
  src: url("./franklin-gothic.ttf");
}

body {
  position: relative;
  width: 100%;
  height: 100dvh;
  margin: 0;
  perspective: 300px;

  background-color: white;
}

.title {
  position: relative;
  top: 0;
  width: 180vw;
  aspect-ratio: 3 / 4;
  background-color: var(--bg-color);

  transform: translateZ(-10vw) translate(-14vw, -35vw) rotateY(4deg)
    rotate(-24deg) skewX(-24deg);
  transform-style: preserve-3d;
}

h1 {
  position: absolute;
  top: 30vh;
  left: 50vw;
  color: white;
  font-size: clamp(1rem, 8vw + 1.5rem, 7rem);
  font-family: "Franklin Gothic", sans-serif;

  translate: 0 30vw;

  /* 
  animation: scroll 4s;
  animation-iteration-count: infinite; 
	*/
}

@keyframes scroll {
  to {
    translate: 0 -100vh;
  }
}

.line {
  position: absolute;
  background-color: var(--line-color);
}

.horizontal div {
  width: 100%;
  height: 3px;

  transform-origin: 100% 0;

  transform: scaleX(0);
  animation: grow 6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.horizontal div:nth-of-type(1) {
  top: var(--horizontal-line-start);
  animation-delay: 80ms;
}

.horizontal div:nth-of-type(2) {
  top: calc(var(--horizontal-line-start) + var(--horizontal-gap-lg));
  animation-delay: 80ms;
}

.horizontal div:nth-of-type(3) {
  top: calc(
    var(--horizontal-line-start) + var(--horizontal-gap-lg) +
      var(--horizontal-gap-sm)
  );
  animation-delay: 150ms;
}

.horizontal div:nth-of-type(4) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 2) +
      var(--horizontal-gap-sm)
  );
  animation-delay: -50ms;
}

.horizontal div:nth-of-type(5) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 3) +
      var(--horizontal-gap-sm)
  );

  animation-delay: 180ms;
}

.horizontal div:nth-of-type(6) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 3) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: 140ms;
}

.horizontal div:nth-of-type(7) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 4) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: -50ms;
}

.horizontal div:nth-of-type(8) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 5) +
      (var(--horizontal-gap-sm) * 2)
  );

  animation-delay: 200ms;
}

.horizontal div:nth-of-type(9) {
  top: 31%;

  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 5) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: -150ms;
}

.horizontal div:nth-of-type(10) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 6) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: -300ms;
}

.horizontal div:nth-of-type(11) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 7) +
      (var(--horizontal-gap-sm) * 3)
  );

  animation-delay: 100ms;
}

.horizontal div:nth-of-type(12) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 7) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -350ms;
}

.horizontal div:nth-of-type(13) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 8) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -280ms;
}

.horizontal div:nth-of-type(14) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 9) +
      (var(--horizontal-gap-sm) * 4)
  );

  animation-delay: -160ms;
}

.horizontal div:nth-of-type(15) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 9) +
      (var(--horizontal-gap-sm) * 5)
  );

  animation-delay: -220ms;
}

.horizontal div:nth-of-type(16) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 10) +
      (var(--horizontal-gap-sm) * 5)
  );
}

.horizontal div:nth-of-type(17) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 11) +
      (var(--horizontal-gap-sm) * 5)
  );

  animation-delay: -120ms;
}

.horizontal div:nth-of-type(18) {
  top: calc(
    var(--horizontal-line-start) + (var(--horizontal-gap-lg) * 11) +
      (var(--horizontal-gap-sm) * 6)
  );

  animation-delay: -180ms;
}

@keyframes grow {
  to {
    transform: scaleX(1);
  }
}

.vertical-line {
  height: 100%;
  width: 3px;
  left: calc(var(--i, 1) * var(--vertical-gap));

  background-color: red;

  transform-origin: 0 100%;

  transform: scaleY(0);

  animation: grow-vertical 6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.vertical-line:nth-child(n + 12):nth-child(-n + 25) {
  transform-origin: 0 0;
  background: #000;
}

@keyframes grow-vertical {
  to {
    transform: scaleY(1);
  }
}
