@font-face {
  font-family: Fontdinerdotcom;
  src: url("fonts/Fontdinerdotcom.woff") format("woff");
}

@font-face {
  font-family: "Fontdinerdotcom Sparkly";
  src: url("fonts/FontdinerdotcomSparkly.woff") format("woff");
}

:root {
  --delay: 0.3s;
}

body {
  margin: 0;
}

svg {
  height: 100%;
}

@keyframes scale-up {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

text {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: scale-up;
  animation-timing-function: ease-out;

  fill: papayawhip;
  mix-blend-mode: difference;

  transform-origin: center center;
}

@keyframes slide-out {
  to {
    transform: translateX(-1200px);
  }
}

.bg {
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-name: slide-out;
}

.bg:nth-of-type(2) {
  animation-delay: var(--delay);
}

.bg:nth-of-type(3) {
  animation-delay: calc(var(--delay) * 2);
}

.bg:nth-of-type(4) {
  animation-delay: calc(var(--delay) * 3);
}

.bg:nth-of-type(5) {
  animation-delay: calc(var(--delay) * 4);
}

.bg:nth-of-type(6) {
  animation-delay: calc(var(--delay) * 5);
}
